<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @cake.picture.url(:thumb) if @cake.picture? %>
  <%= image_tag @cake.picture.url(:small_thumb) if @cake.picture? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cake.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cake.cake_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cake.description %>
</p>

<%= link_to 'Edit', edit_cake_path(@cake) %> |
<%= link_to 'Back', cakes_path %>
